@media screen and (max-width:400px){
#TextLogo{
	width:100px;
	margin-top:10px;
}
.BadContainer h1{
	font-size:40px;
}
}

@media screen and (min-width:401px){
#TextLogo{
	width:50px;
	margin-top:0px;
}
}

#Ap1{
	width:80%;
	height:30px;
	margin-bottom:10px;
	font-size:12px;
	text-align:center;
}
#Ap2{
	width:40%;
	height:40px;
	background-color:black;
	color:white;
	font-size:15px;
}

#Link{
	text-decoration:none;
	color:black;
}

#Ap2:hover{
	background-color:white;
	color:black;
}
#Nonsochenome{
	color:#3333ff;
	text-align:center;
}

#Nonsochenome span{
	color:black;
}
.Center{
	
	padding-left:10%;
	text-align:center;
	padding-right:10%;
}

.CenterB{
	text-align:center;
}

.BadContainer{
	padding:10px;
	margin:10px;
	background: rgba(255, 255, 255, 0.4);
}

.SemiBadContainer{
	padding:10px;
	margin:10px;
	width:400px;
	background: rgba(255, 255, 255, 0.4);
}

	#ManImage{
	width:250px;
}

.BadContainerB{
	padding:10px;
	margin:10px;
	height:410px;
	float:left;
	background: rgba(255, 255, 255, 0.3);
	width:190px;
	font-size:15px;
}

.BadContainerB:hover{
	background: rgba(255, 153, 0, 0.3);
}

.Bidone{
	width:190px;
}

.BadContainer h1:hover{
	color:blue;
}

.ErrorLogo{
	height:68px;
}
@media screen and (max-width:375px){
	.ErrorLogo{
		display:none;
	}
}
@media screen and (min-width:375px){
	.ErrorLogo{
		display:inline;
	}
}

.BadContainerB a{
	text-decoration:none;
	color:black;
}

body{
	background: url("../images/Schifo.jpg") no-repeat center center fixed;
	background-size:cover;
	cursor:default;
}